<ion-view title="Register">
  <ion-content class="has-header padding" >
    Please confirm your mobile phone number to use Sapristi.


    <div>{{message}}</div>


    <form ng-submit="registerMobileNumber()" ng-controller="RegisterCtrl">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Mobile Number" ng-model="mobileNumber">
        </label>
      </div>
      <input type="submit" value="Confirm" class="button button-block button-balanced icon-right ion-chevron-right">
    </form>


<!--

    <div class="row">
      <div class="col"><button class="button button-block button-positive">1</button></div>
      <div class="col"><button class="button button-block button-positive">2</button></div>
      <div class="col"><button class="button button-block button-positive">3</button></div>
    </div>
    <div class="row">
      <div class="col"><button class="button button-block button-positive">4</button></div>
      <div class="col"><button class="button button-block button-positive">5</button></div>
      <div class="col"><button class="button button-block button-positive">6</button></div>
    </div>
    <div class="row">
      <div class="col"><button class="button button-block button-positive">7</button></div>
      <div class="col"><button class="button button-block button-positive">8</button></div>
      <div class="col"><button class="button button-block button-positive">9</button></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"><button class="button button-block button-positive">0</button></div>
      <div class="col"><button class="button button-block button-positive ion-arrow-left-a"></button></div>
    </div>

  -->

  </ion-content>
</ion-view>
